@media (max-width: 991px) {
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }
    .promo {
        &__wrapper {
            padding-right: 20px;
        }
    }
    .advantages {
        &__item {
            margin: 0 20px;
            width: 230px;
        }
    }

    .consultation {
        .title{
            &__left {
                font-size: 30px;
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
        }
    }
    
    .feed-form {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
} 

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .container {
        width: 100%;
    }
    .promo {
        height: 600px;
        &__wrapper {
            display: block;
            margin: 0 auto;
            button {
                margin: 0 auto;
                display: block;
            }
            }
        &__icons {
            display: block;
            margin: 0 auto;
        }
        &__link {
            display: block;
            margin: 0 auto;
        }
        &__icon {
            margin-bottom: 50px;
        }
    }
    .advantages {
        min-height: 950px;
        padding: 50px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            min-width: 350px;
            padding: 10px;
        }
    }
    .carousel {
        img {
            width: 100%;
        }
        ul {
            width: 570px;
        }
    }
    .catalog {
        &__tab {
            max-width: 170px;
        }
        &__content {
            margin-left: 25%;
        }
    }
    .reviews {
        img {
            margin: 0 20px;
        }
        &__descr {
            max-width: 300px;
        }
    }
    .footer {
        max-height: 450px;
        iframe {
            height: 450px;
        }
        &__info {
            max-height: 150px;
            padding-top: 20px;
        }
        &___addr {
            margin-bottom: 0;
            font-size: 15px;
        }
    }
}

