.reviews {
    padding-bottom: 50px;
    &__content {
        margin-top: 60px;
        display: flex;
        img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__text {
        max-width: 680px;
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
    }
}